- name : play1
  hosts: local
  tasks: 
  - name: task1 from play1
    ansible.builtin.debug:
      msg: "task1 from play1 ..!"
  - name: task2 from play2
    ansible.builtin.debug:
      msg: "task2 from play2 ..!"


- name: play 2
  hosts: local
  tasks:
  - name: task1 from play 2
    ansible.builtin.debug:
      msg: "task 1 from play 2"
  
  - name: task2 from play 2
    ansible.builtin.debug:
      msg: "task2 from play 2 ..!"